body {
    height: 100vh; /* Set the height to cover the entire viewport */
    width: 100vw; /* Set the width to cover the entire viewport */
    background-image: url('photos/fone.jpg');
    background-size: cover;
    background-size: 1000px 1400px;
    background-repeat: no-repeat;
    margin: 0; 
    overflow: hidden; 
}

 #isCanvasImg {
     position: relative;
     left: 1060px;
     top: 264px;
 }



 #canvas {
     position: absolute;
     left: 1078px;
 }
 #Scorediv {
    position: absolute;
    left: 1425px;
    top: 58px;
    font-weight: bold;
    color: rgb(207, 186, 186);
    font-size: 50px;
    font-family: "Arial", sans-serif; /* Adjust the font family name */
    width: 10px;
    height: 60px;
}

#myButton{
    position: absolute; 
    top: 1250px; 
    left: 1390px;
    border-radius: 70%;

}
#imagebutton{

    width: 100px;
    height: 100px;  
}
